.details {
    width: 98%;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-columns: 60px 1.8fr 1.8fr;
    gap: 1rem;
    overflow-y: hidden;
    margin-bottom: 1rem;
    margin-top: 2rem;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
          overflow-y: visible;
          gap: 2rem;
    }
  }
  
  .displayNone {
    display: none;
  }

  .flexText {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .details__options {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    z-index: 100;

    @media (max-width: 768px) {
        flex-direction: row;
    }
  }
  
  .details__optionImage {
    width: 60px;
    height: 60px;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    cursor: pointer;
    object-fit: content;
  }

  .details__detail {
    width: 100%;
    max-height: 480px;

    @media (max-width: 768px) {
        max-height: 100%,
    }
  }

  .details__detailImage {
    width: 100%;
    max-height: 480px;
    object-fit: content;
    overflow-y: visible;
    @media (max-width: 768px) {
        width: 50%;
        margin: 0 6rem;
        max-height: 100%;
    }
  }

  .details__info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .pay__info {
    display: flex;
    flex-direction: column;
    padding: .8rem;
    border: 1px solid #CCC;
    height: 60%;
    gap: .6rem;
  }
  
  .pay__infoButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .2rem;
  }

  .card__info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
  
  .card__title {
    font-size: 2rem;
    font-weight: 600;
    color: #111;
  }

  .details__boxInfo {
    width: 80%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #5C5C5C;
    padding: .6rem 1rem;
    border-radius: 50px;
  }
  
  .details__payment {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #CCC;
    padding: 2rem;
  }
  
  .details__containerInfoFlex {
    width: 100%;
    display: flex;
  }
  
  .details__boxInfoFlex {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .details__infoLabel {
    font-size: 1.2rem;
    color: #333;
    font-weight: 600;
  }
  
  .details__infoText {
    font-size: .9rem;
    color: #888;
  }

  .button__rounded {
    width: 40px;
    height: 40px;
    padding: 4px;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid;
  }

  .clickInfoDetails {
    cursor: pointer;
    color: blue;
  }

  .displayNone {
    display: none;
  }