.card_container {
    .card {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 30px 20px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        border-radius: 8px;

        img {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            width: 290px;
            object-fit: cover;
            margin: auto;
            margin-top: 10px;
            cursor: pointer;
        }

        .card_text {
            width: 100%;
            padding: 16px;
            min-height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 18px;
                font-weight: 600;
            }

            p {
                font-size: 14px;
                font-weight: 500;
                margin-top: 16px;

                span {
                    font-weight: 400;
                }
            }

            h2 {
                font-size: 20px;
                margin-top: 16px;
            }
        }
    }
}